.card {
  height: 218px;
  width: 218px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  border-radius: 8px;
  border: solid 1px rgba(248, 250, 252, 0.06);
  background-color: #3f4550;
}

header {
  order: 1;
  height: 109px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  border-radius: 8px;
  border: solid 1px rgba(248, 250, 252, 0.06);
  background-color: #595f68;
}

.tag {
  width: 54px;
  height: 26px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 2px 6px 4px;
  border-radius: 4px;
  background-color: #8d54ea;
}

.icon {
  justify-content: center;
  align-items: center;
  color: white;
}

footer {
  order: 2;
  height: 106px;
  height: 109px;
  width: 218px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
}

.title {
  width: 115px;
  height: 24px;
  flex-grow: 0;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.participants {
  width: 1440px;
  height: 1024px;
  padding: 0 48px 0 0;
  color: #bdbdbd;
}

.updatedAt {
  width: 174px;
  height: 14px;
  flex-grow: 0;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.77);
}
