@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Lato&display=swap");

.container {
  background: #333842;
}

header h1 {
  text-transform: capitalize;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: white;
}
