@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Lato&display=swap");

.container {
  background: #333842;
}

header {
  order: 1;
}

header h1 {
  text-transform: capitalize;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: white;
}

form p#username {
  order: 1;
}

form p#password {
  order: 2;
}

form p#buttons {
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}
label#forgot {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #e0e0e0;
}

footer {
  order: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
footer button#googleSignin {
  order: 1;
}

footer p#discordSignin {
  order: 2;
}
