#root {
  white-space: pre-line;
}

p {
  white-space: pre-wrap;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror p[data-placeholder]::before {
  float: inherit!important;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror th, .ProseMirror td {
  border: 1px dotted #ADB2B8;
}
