#root {
  white-space: pre-line;
}

p {
  font-family: 'NotoSerif', serif;
  font-size: 0.8125rem;
  /*color: ${(props) => props.theme.palette.text.draftText};*/
  white-space: pre-wrap;
  margin: 0;
  font-weight: 400;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror th, .ProseMirror td {
  border: 1px dotted #ADB2B8;
}
